.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.Renviron
scripts
tmp
letters
PERSONAL_README.md
legacy
legacy_manuscripts
dat/SungRecalls_Transcriptions
dat/SungRecalls_Transcriptions2
dat/Target_Melodies
dat/Transkriptionen
dat/output_data/legacy
letters
